<div class="file-compare-container">
  <div class="heading"><h1>File Compare App</h1></div>
  <div class="heading">
    <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="file1">File 1:</label>
        <input type="file" (change)="onFileChange($event, 'file1')" accept=".txt,.json,.xml" />
        <div *ngIf="fileForm.get('file1')?.hasError('empty')" class="error">
          The selected file is empty. Please choose a non-empty file.
        </div>
      </div>
      <div class="space-btn-file">
        <label for="file2">File 2:</label>
        <input type="file" (change)="onFileChange($event, 'file2')" accept=".txt,.json,.xml" />
        <div *ngIf="fileForm.get('file2')?.hasError('empty')" class="error">
          The selected file is empty. Please choose a non-empty file.
        </div>
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngIf="responseMessage" class="response">{{ responseMessage }}</div>
      <button type="submit">Compare</button>
    </form>
  </div>
</div>
